body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    line-height: 1.8em;
    color: #ffffff;
}
.pimg{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 700px;
    background: transparent;
}
.section{
    text-align: center;
    padding: 50px 8px;
    background: #282242;
    color: #ffffff;
}
section p{
    font-size: 18px;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #282242;
    font-size: 25px;
    letter-spacing: 5px;
}
.border{
    background: #282242;
    color: #ffffff;
    padding: 20px;
}